@model HelpDesk.Models.Os
@using HelpDesk.Helpers;

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Os</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Descricao)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Descricao)
            @Html.ValidationMessageFor(model => model.Descricao)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ClienteId, "Cliente")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ClienteId", String.Empty)
            @Html.ValidationMessageFor(model => model.ClienteId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TecnicoId, "Tecnico")
        </div>
        <div class="editor-field">
            @Html.DropDownList("TecnicoId", String.Empty)
            @Html.ValidationMessageFor(model => model.TecnicoId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Data)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Data)
            @Html.ValidationMessageFor(model => model.Data)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Prioridades, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.Prioridades)
                @Html.ValidationMessageFor(model => model.Prioridades)
            </div>
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
